* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_572 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_690 {
  width: 100%;
  height: 107px;
  background: url("../images/v9_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_647 {
  width: 100%;
  height: 100px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3_594 {
  width: 791px;
  color: rgba(38,55,148,1);
  position: absolute;
  top: 0px;
  left: 130px;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v27_10 {
  width: 100%;
  height: 347px;
  background: url("../images/v27_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_663 {
  width: 804px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 300px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v9_665 {
  width: 903px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 205px;
  left: 250px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v52_10 {
  width: 100px;
  height: 100px;
  background: url("../images/v52_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 808px;
  overflow: hidden;
}
.v52_13 {
  width: 100px;
  height: 100px;
  background: url("../images/v52_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v27_260 {
  width: 914px;
  height: 336px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 263px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v27_264 {
  width: 750px;
  height: 336px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 263px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v27_262 {
  width: 509px;
  height: 336px;
  background: url("../images/v27_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 696px;
  overflow: hidden;
}
.v27_284 {
  width: 914px;
  height: 336px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 263px;
  border: 4px solid rgba(17,0,0,1);
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v27_286 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 531px;
  left: 387px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v27_287 {
  width: 383px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 300px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
